
.card{
    padding: 5px;
    margin: 0 auto;
     
    
}

.btn{
    margin: 5px;
  
}
p{
    color: aliceblue;
    font: outline;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(15deg, #2875a1 0%, #549991 100%);

}