
.container{
  margin-top: 5px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
}

.item{
  padding: 10px;
  width: 400px;
  height: 300px; 
  object-fit: cover;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  opacity: .95;
 }


 .topnav{
  z-index: 100;
  position: sticky;
  top: 0;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  width: 100%;
  height: auto;
  padding:1%;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: aliceblue;
  font-size: larger;
  font-weight: bolder;
}
 
input:focus {
  width: 65%;
  transition: ease-in .5s;
 
}

.search { 
  position: relative; 
  margin: 0 auto ;
  text-align: center;
  width: 60%;
}

.search input { 
  text-indent: 30px;
   font-family:  FontAwesome, sans-serif;
}

#search{ 
  position: absolute;
  top: 5px;
  left: 65%;
  font-size: 25px;
  color: #0d4666;
  cursor: pointer;
}

input {
    width: 450px;
    padding: 5px;
    height: 20px;
    border-color: white;
    border-radius: 3px;
}
 


.container{
  margin-top: 5px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
}

.item{
  padding: 10px;
  width: 400px;
  height: 300px; 
  object-fit: cover;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  opacity: .95;
 }

 .item:hover{
  opacity: 1;
 }
 .dialogimg{
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width:100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
 }

 .modal-content {
  display: flex;
  background-color: #fefefe;
  box-shadow: 0px 0px 15px 0px;
  width: 780px;
  height: 400px;
  margin-bottom: 150px;
  object-fit: cover;
  }
 
.close{ 
  font-size: 52px;
  padding: 10px;
  font-weight: bolder;
  transform: rotate(45deg);
  box-shadow: black;
  color: #fefefe;
  border-radius: 50%;
  background-color: brown;
  cursor: pointer;
  height: 50%;
  margin-left: 10%;
  line-height: 100%;
  margin-top: 10px;

 
 }

 .save{
  width: 40px;
  height: 40px;
  margin-right: 10%;
  padding: 10px;
  border-radius: 5px;
  font-size: 42px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(52, 145, 49);
  line-height: 100%;
  margin-top: 10px;
 }
 
 @media  screen and (max-width: 700px){
   input{
     width: 50%;
   }
 }