<body>
  <p> Wall Search </p> 
   


 <div class="topnav" > 
  <form (submit)=dosearch(search)>
      <div class="search">
          <a  (click)='dosearch(search)'><mat-icon id="search">search</mat-icon></a> 
        <input placeholder="search" type="text"  placeholder="  Search.." name='search' ngModel #search=ngModel>
      </div>
  </form>
</div>


<!--  landing page  -->
<div  class="container" *ngIf='showclick'>
   <div *ngFor='let item of ImgsObj | async'>
     <div id="imgTop"></div>
     <a (click)="view(item.urls.regular)">
     <img   class="item" src={{item.urls.small}} alt="no Img found" >
    </a>
    </div>   
</div>

<!-- For infinite Scroll image will keep on adding in the page -->
<div class="container" infiniteScroll [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="2000"
  (scrolled)="onScroll()"> 
  <div  class="container" >
    <div  *ngFor='let item of ImgsObj'>
      <a (click)="view(item.urls.regular)">
      <img   class="item" src={{item.urls.small}} alt="no Img found" >
    </a>
     </div>   
  </div>
</div>

<!-- See the image and download it  -->
<div class="dialogimg" *ngIf='dialogimg'>
  <div class="modal-content" style="background-image:url({{dialogimgLink}});background-size: cover;">
  <div class="modal-button" style="width: 100%; height: 100px; display: flex; justify-content:space-between;
  justify-items:auto;">
  <div class="close" (click)="closeDialog()">+</div> 
  <mat-icon class="save" (click)="saveas()">save_alt</mat-icon> 
  </div>
  </div>
</div>
</body>

  
 